<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serviceBus" value="Endpoint=sb://tradealerts.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=3wWurmQ1wqw6YO2/jIb8X4SFavqZW8r9eGra1qCdi9w="/>
    <!-- Azure Storage: TradeAlertsStorage -->
    <add key="TradeAlertsStorage" value="DefaultEndpointsProtocol=https;AccountName=kallieco;AccountKey=FTb4ZgAQk6/zWKefqit0BAVfWlrEXy+IacFCVdjAp5pG7+uCIXP2Cfbz9aSZQ+dABCdPJ74ScdUqYyTA+KwJJQ==;EndpointSuffix=core.windows.net" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.17.2.31801" newVersion="3.17.2.31801" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.17.2.31801" newVersion="3.17.2.31801" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>